{% extends 'admin/base_site.html' %}

{% block content %}

    <h1>Course {{ race.name }} {{ race.date }} ({{ race.total_participants }})</h1>

    <form action="" method="post" id="save-chrono" class="form">
        <select id="playerselect" name="pitcher" class="player-dropdown">
            {% for p in object.participants.all|dictsort:"race_number" %}
                {% if not p.time %}
                <option value="{{ p.pk }}">{{ p.race_number }} - {{ p.category }} - ({{ p.athlete.name }})</option>
                {% endif %}
            {% endfor %}
        </select>
        <input id="chrono" type="text" name="chrono" maxlength="5" placeholder="mm:ss" required>
        <input type="submit" value="Enregister"/>
    </form>

    {% for cat in object.categories.all %}
        <h2>Catégorie {{ cat }}</h2>
        <table title="FUU" style="width: 80%; margin-bottom: 10px;">
            <thead>
            <tr>
                <td>Nom</td>
                <td>Chien</td>
                <td>Dossard</td>
                <td>Chrono (mm:ss)</td>
                <td>Délai (minutes)</td>
                <td>Temps (secondes)</td>
            </tr>
            </thead>
            <tbody>
                {% for p in object.participants.all|dictsort:"time_minus_delay_in_sec" %}
                    {% if p.time and p.category == cat %}
                        <tr>
                            <td>{{ p.athlete.name }}</td>
                            <td>{{ p.athlete.dog_name }}</td>
                            <td>{{ p.race_number }}</td>
                            <td>{{ p.time }}</td>
                            <td>{{ p.delay }}</td>
                            <td>{{ p.time_minus_delay_in_sec }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    
{% endblock %}